.userAvatar {
  border-radius: 50%;
  padding: 50px;
  background-color: rgb(94, 0, 182);
}
.userDataContainer {
  display: flex;
  border: 5px solid rgb(30, 30, 30);
  flex-direction: column;
  align-items: center;
  border-radius: 5%;
  background-color: rgb(236, 236, 236);
}
.UserStatusContainer {
  display: flex;
  gap: 30px;
}
.UserStatusContainerItem {
  display: flex;
  flex-direction: column;
  padding: 50px;
  border: 3px solid rgb(30, 30, 30, 0.2);
  transform: skew(-15deg);
  background-color: rgba(155, 166, 182, 0.5);
  box-shadow: 3px 1px 16px 0px rgba(64, 82, 157, 1);
}
.UserStatusContainerItemContent {
  font-weight: 700;
  transform: skew(15deg);
}
.userDataName {
  font-weight: 700;
}
